h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  line-height: 1.5rem;
}

@keyframes AddAnimation {
  0% {
    padding-left: 100px;
  }
  100% {
    padding-left: 0px;
  }
}

@keyframes DeleteAnimation {
  0% {
    margin-left: 0px;
  }
  100% {
    padding-left: 100px;
  }
}

.add-animation {
  animation: AddAnimation 1s;
}

.delete-animation {
  animation: DeleteAnimation 1s;
}
