<div class="content-container">
  <div class="content-area">
    <app-heroe-details></app-heroe-details>
  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
      <section class="nav-group">
        <div class="row">
          <div class="col-xs-5"><h3>My Heroes</h3></div>
          <div class="col-xs-7">
            <div class="btn-group btn-link">
              <button class="btn" (click)="onAdd()">Add</button>
              <button class="btn" (click)="onDelete()" [attr.disabled]="!selectedHero ? true : null">Delete</button>
            </div>
          </div>
        </div>
        <ul class="nav-list list-unstyled">
          <li class="nav-link" [className]="'add-animation'"
              *ngFor="let hero of heroes | herosFilter: filterValue" (click)="onSelect(hero)">
            <a [className] = "selectedHero === hero ? 'active nav-link' : 'nav-link'">
              <span [className]="'badge'">{{hero.id}}</span>
              {{hero.name}}
            </a>
          </li>
        </ul>
      </section>
    </section>
  </nav>
</div>
